/* Modal.css */
/* .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .modal-content {
    /* width: 100%; */
    /* height: 80dvh; */
   
  }


  .move-left {
    transform: translateX(-100%);
  }

  .child {
    flex: 0 0 100%; /* Each child takes full container width */
    transition: transform 0.5s ease;
  }
  
  