@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

:root {
  --button-font-size: 16px; /* Font size for readability */
  --button-padding-vertical: 10px; /* Vertical padding */
  --button-padding-horizontal: 20px; /* Horizontal padding */
  --button-background-color: #007bff; /* Background color */
  --button-color: white; /* Text color */
  --button-secondary-color: white; /* Text color */
  --button-border-radius: 5px; /* Border radius for rounded corners */
  --button-transparent: transparent;
}

.button-primary  {
  font-size: var(--button-font-size);
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  background-color: var(--button-background-color) !important;
  color: var(--button-color);
  border: none;
  border-radius: var(--button-border-radius);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-secondary {
  background-color: var(--button-transparent) !important;
  border: 1px solid var(--button-background-color);
  color: var(button-secondary-color);
}



.container {
 max-width: calc(100% - 10%) !important;
}


main{
  padding-bottom: 73px;
}



.bottom-sheet-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.bottom-sheet-backdrop.visible {
  opacity: 1;
  visibility: visible;
}

.bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  transition: height 0.3s ease-out;
  z-index: 1000;
  overflow: hidden;
}
