$heading: 28px;
$headingWeight: 700;
$headingSpacing: 0.6px;
$textColor: #212b34;

.text-heading {
  font-size: $heading;
  @apply [@media(max-width:375px)]:text-2xl;
  font-weight: $headingWeight;
  letter-spacing: $headingSpacing;
  color: $textColor;
}

.text-color {
  color: $textColor;
}

/* Inter Regular */
@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Regular.ttf') format('ttf'),
    url('/fonts/Inter-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

/* Inter Medium */
@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Medium.ttf') format('ttf'),
    url('/fonts/Inter-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

/* Inter Semi-Bold */
@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-SemiBold.ttf') format('ttf'),
    url('/fonts/Inter-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

/* Inter Bold */
@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Bold.ttf') format('ttf'),
    url('/fonts/Inter-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

/* Inter Extra-Bold */
@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-ExtraBold.ttf') format('ttf'),
    url('/fonts/Inter-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

/* Inter Black */
@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Black.ttf') format('ttf'),
    url('/fonts/Inter-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

/* Add additional @font-face blocks for other font weights/styles as needed */